.App {
	height: 100vh;
	width: 100vw;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

a {
	color: #009688;
	text-decoration: none;
}

/* ------------------ Header  ------------------ */

.header {
	min-height: 30vh;
	margin: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@media (max-width: 1400px) {
	.header__left {
		margin-right: 2rem !important;
		transform: scale(0.8);
	}

	.header {
		margin: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.cam {
		border-radius: 6rem;
		width: 640px;
		height: 480px;
	}

	.cam__overlay {
		border-radius: 6rem;
		position: absolute;
		float: left;
		width: 640px;
		height: 480px;
		z-index: 2;
	}
}

@media (max-width: 1000px) {
	.header__left {
		transform: none;
	}

	.header {
		flex-direction: column;
	}
}

.header__left {
	flex-grow: 1;
	min-width: 40vw;
	min-height: 450px;
	justify-content: space-evenly;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 6rem;
}

.header__left__bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__left__bottom__metrics {
	margin-right: 1rem;
}

.header__right {
	flex-grow: 1;
}

/* ------------------ Cam  ------------------ */

.cam__container {
}

.cam {
	border-radius: 6rem;
	width: 640px;
	height: 480px;
}

.cam__overlay {
	border-radius: 6rem;
	position: absolute;
	float: left;
	width: 640px;
	height: 480px;
	z-index: 2;
}

.cam__overlay-focused {
	background-color: rgba(127, 255, 223, 0.308);
}

.cam__overlay-distracted {
	background-color: rgba(255, 127, 255, 0.308);
}

@media (max-width: 1400px) {
	.cam {
		border-radius: 4rem;
		width: 480px;
		height: 360px;
	}

	.cam__overlay {
		border-radius: 4em;
		width: 480px;
		height: 360px;
	}
}

/* ------------------ Content  ------------------ */

.content {
	background-color: #f5f5f5;
	padding: 5rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 3rem;
}

.settings__item {
	margin: 2rem 0;
}

/* ------------------ Material UI  ------------------ */

.btn-xl {
	padding: 13px 22px !important;
	font-size: 1em !important;
}

.MuiPaper-rounded {
	border-radius: 1rem !important;
}

.MuiCardContent-root {
	padding: 2rem !important;
}
